################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArdikDb/.vs
/ArdikDb/ArdikDb/obj
